git+https://github.com/neo1seok/neolib_python.git
git+https://bc33764f1e12497659057da4175884afece68be5@github.com/ictk-solution-dev/auth_comm_lib.git
argparse-addons==0.7.0
asgiref==3.4.1
asn1==2.4.1
beautifulsoup4==4.9.3
bitstruct==8.11.1
bs4==0.0.1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
cryptography==3.4.7
Django==3.2.6
djangorestframework==3.12.4
enum-compat==0.0.3
et-xmlfile==1.1.0
humanfriendly==9.2
idna==2.10
mqttools==0.47.0
ntplib==0.3.4
numpy==1.20.3
openpyxl==3.0.7
paho-mqtt==1.5.1
pandas==1.2.4
psutil==5.8.0
pyasn1==0.4.8
pycparser==2.20
pyreadline==2.1
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
selenium==3.141.0
six==1.16.0
soupsieve==2.2.1
sqlparse==0.4.1
urllib3==1.26.4
x509==0.1
xlrd==2.0.1



