{% extends 'base_template.html' %}
{% load static %}


{% block main_bar_ %}
<a class="w3-bar-item w3-button w3-mobile"  href={% url 'main:main'  %} >Home</a>
<a class="w3-bar-item w3-button w3-mobile" href = {% url 'webtoon:main'  %}  > 웹툰</a>
<a class="w3-bar-item w3-button w3-mobile" href = {% url 'password:main'  %}  > 패스워드</a>
<a class="w3-bar-item w3-button w3-mobile" href = {% url 'health:main'  %}  > 건강정보</a>
<a class="w3-bar-item w3-button w3-mobile" href = {% url 'private_link:main'  %} > 개인링크</a>
{% if user.is_authenticated %}
<a  class="w3-bar-item w3-button w3-mobile" href="{% url 'access:logout' %}">{{ user.username }} (로그아웃)</a>
{% else %}
<a class="w3-bar-item w3-button w3-mobile" href = {% url 'access:login'  %} > login</a>

{% endif %}

{% endblock%}
{% block main_bar %}


<li class="nav-item">
    <a class="nav-link" href="{% url 'webtoon:main'  %}">
        <i class="fa fa-picture-o"></i>
        <span>웹툰</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'password:main'  %}">
        <i class="fa fa-key"></i>
        <span>패스워드</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{% url 'health:main'  %}">
        <i class="fa fa-heartbeat"></i>
        <span>건강정보</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{% url 'private_link:main'  %}">
        <i class="fa fa-external-link"></i>
        <span>개인링크</span>
    </a>
</li>

{% endblock%}

