.page-header {
    background-color: #000000;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}



.date {
    color: #828282;
}


.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

._read {
    color: #828282;
}
.sidebar_,.navbar_{
 position: fixed;
  padding-top: 32px;
  top: -32px;

}


.footer {
  height: 100px;
  margin-top: -100px;

}

#content_{
 padding-left: 280px;
 padding-top: 100px;
}
