{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="diary">

    <h3>{{ diary_content }}</h3>

    <p class="content">{{ diary_content.text|linebreaksbr }}</p>

<div class="dataTables_paginate paging_simple_numbers" align="center" id="dataTable_paginate">
    <ul class="pagination">
        <li class="paginate_button page-item previous {% if diary_content.pk == 1 %} disabled {% endif %}" id="dataTable_previous">
            <a href="{% url 'diary:diary_detail' pk=diary_content.pk|add:' -1' %}"
               aria-controls="dataTable"
               data-dt-idx="0" tabindex="0"
                class="page-link">이전화</a>
        </li>
        <li class="paginate_button page-item ">
            <a href="{% url 'diary:main' %}"
               aria-controls="dataTable" data-dt-idx="6" tabindex="0"
                                                  class="page-link">목록으로가기</a>
        </li>
        <li class="paginate_button page-item next" id="dataTable_next">
            <a href="{% url 'diary:diary_detail' pk=diary_content.pk|add:' 1' %}"
               ria-controls="dataTable"
               data-dt-idx="7" tabindex="0"class="page-link">다음화</a>
        </li>
    </ul>
</div>

</div>


{% endblock%}

