{% extends 'base.html' %}
{% load static %}

var is_toggle = false;
{% block custom_js %}
function LoadingWithMask() {
    console.log("LoadingWithMask");

    $('#id_loading').show();

}

function closeLoadingWithMask() {
    console.log("closeLoadingWithMask");
    $('#id_loading').hide();
}

function temp_query_cust(url,data,ok_process){

    LoadingWithMask();
    console.log("temp_query_cust",ok_process);
    ok_process_cust= (response) => {
        console.log("ok_process_cust");
        console.log("ok_process_cust",ok_process);
        closeLoadingWithMask();
        console.log("ok_process st");
        ok_process(response);
        console.log("ok_process end");
    }
    function fail_process_cust(response) {
        closeLoadingWithMask();
        console.log("fail_process2",response);

        $('#id_alert').text(response.error);
    }

    temp_query('{% url 'words_puzzle:api'%}',data,ok_process_cust,{},fail_process_cust);
}


function click__vr_select() {
    console.log("_vr_select",$(this).attr("rmword"));

    ok_process= (response) => {
        console.log("ok",response.ref_words);
        $("#id_select").html("");
        $('#id_refwords').text(response.ref_words);

    }

    data = {
    'cmd':'remove_word',
    remove_word:$(this).attr("rmword"),
    'csrfmiddlewaretoken': '{{ csrf_token }}'
    }
    console.log("data:",data);

    temp_query_cust('{% url 'words_puzzle:api'%}',data,ok_process);
    //temp_query('{% url 'words_puzzle:api'%}',data,ok_process=ok_process,headers={},fail_process=fail_process2);

}
function get_session() {
    console.log("_vr_select",$(this).attr("rmword"));

    ok_process= (response) => {
        console.log("ok",response.ref_words);
        $('#id_refwords').text(response.ref_words);
        $("#id_msg").text("search_word: "+response.enable_number)
        $('#id_search_word').text(response.search_word)

    }

    data = {
    'cmd':'get_session',
    remove_word:$(this).attr("rmword"),
    'csrfmiddlewaretoken': '{{ csrf_token }}'
    }
    console.log("data:",data);
    temp_query_cust('{% url 'words_puzzle:api'%}',data,ok_process);
    //temp_query('{% url 'words_puzzle:api'%}',data,ok_process=ok_process,headers={},fail_process=fail_process2);

}
function candidate() {
console.log("candidate");
    ok_process= (response) => {
    console.log("ok",response.candidate);
        $("#id_msg").text("search_word: "+response.enable_number)
        $('#id_search_word').text(response.search_word)

        $("#id_select").html("");

        for (const [key, value] of Object.entries(response.candidate)) {
          console.log(key, value);
         str_btn = "<button type='button' class='list-group-item list-group-item-action _vr_select' rmword='{1}'    >{0}</button>".format(key,value)
            console.log(str_btn);

            $("#id_select").append(str_btn)
        }
        $("._vr_select").on("click", click__vr_select);
        $('#id_input').val("");

    }

    data = {
    'cmd':'candidate',
    search_word:$('#id_input').val(),
    'csrfmiddlewaretoken': '{{ csrf_token }}'
    }
    console.log("data:",data);
    //temp_query('{% url 'words_puzzle:api'%}',data,ok_process=ok_process,headers={},fail_process=fail_process2);
    temp_query_cust('{% url 'words_puzzle:api'%}',data,ok_process);

}
function validImageType(image) {
  const result = ([ 'image/jpeg',
                    'image/png',
                    'image/jpg' ].indexOf(image.type) > -1);
  return result;
}
function setThumbnail(event) {
    for (var image of event.target.files) {
      var reader = new FileReader();

      reader.onload = function(event) {
        var img = document.createElement("img");
        img.setAttribute("src", event.target.result);
        document.querySelector("div#image_container").appendChild(img);
      };

      console.log(image);
      reader.readAsDataURL(image);
    }
}



{% endblock %}

{% block on_load_js %}

//$('#id_loading').hide();
$('#image_container').hide();
$('._etc_div').hide();

get_session();

$("#id_input_refword").on("click", function () {



    ok_process= (response) => {
        console.log("id_input_refword");
        $('#id_refwords').text(response.ref_words);
        $('#id_input').val("");
        $('#id_alert').text("");


    }
       data = {
            'cmd':'input_refword',
            ref_words:$('#id_input').val(),
            'csrfmiddlewaretoken': '{{ csrf_token }}'
            }
          temp_query_cust('{% url 'words_puzzle:api'%}',data,ok_process);
         //temp_query('{% url 'words_puzzle:api'%}',data,ok_process=ok_process,headers={},fail_process=fail_process2);


     navigator.clipboard.readText()
        .then((ref_words) => {
        console.log("Text clipboard copied to ...",content)

    })
        .catch(err => {
        console.log('Something went wrong', err);
    })


});
$("#id_clipboard").on("click", function () {



    //$('#id_input').select();
    document.getElementById("id_input").focus();
     document.execCommand("Paste", null, null);
     navigator.clipboard.readText()
        .then((ref_words) => {
        console.log("Text clipboard copied to ...",content)
      //  $('#id_input').val(ref_words);

    })
        .catch(err => {
        console.log('Something went wrong', err);
    })


});
$("#id_input_search").on("click", function () {
    console.log("id_input_search");
    ok_process= (response) => {
    console.log("ok",response);
    //location.reload();
    $("#id_msg").text("search_word: "+response.enable_number)
    $('#id_alert').text("");
    $('#id_search_word').text(response.search_word)


    }
    data = {
    'cmd':'input_search',
    search_word:$('#id_input').val(),
    'csrfmiddlewaretoken': '{{ csrf_token }}'
    }
    console.log("data:",data);
    temp_query_cust('{% url 'words_puzzle:api'%}',data,ok_process);
    //temp_query('{% url 'words_puzzle:api'%}',data,ok_process=ok_process,headers={},fail_process=fail_process2);

});
$("#id_get_refword").on("click", function () {
    console.log("id_input_search");
    ok_process= (response) => {
        console.log("ok",response);
        //location.reload();
        $('#id_input').val(response.ref_words)


    }
    data = {
    'cmd':'get_refword',
    'csrfmiddlewaretoken': '{{ csrf_token }}'
    }
    console.log("data:",data);
    //temp_query('{% url 'words_puzzle:api'%}',data,ok_process=ok_process,headers={},fail_process=fail_process2);
    temp_query_cust('{% url 'words_puzzle:api'%}',data,ok_process);

});
$("#id_candidate").on("click",candidate );

$("#id_astrik").on("click", function () {

    con = $('#id_input').val()
    $('#id_input').val(con+'*')

    document.getElementById("id_input").focus();
} );


$('#id_input_upload').on("change", (evt) => {
  const image = evt.target.files[0];
    console.log("image",image)
  if(!validImageType(image)) {
    console.warn("invalide image file type");
    return;
  }

     var reader = new FileReader();

      reader.onload = function(event) {
        //var img = document.createElement("img");
        //img.setAttribute("src", event.target.result);
        //document.querySelector("div#image_container").appendChild(img);


         var img = new Image();
               img.onload = function(){
                  var height = img.height;
                  var width = img.width;
                    console.log("#img",img.width,img.height)
                    cls_name = (img.width==1080 && img.width==2400)?"":"_stproc";
                    $('#image_container').children('img').attr("src",event.target.result);
                    $('#image_container').show();
                    //$('#image_container').html("<img src='{0}' class='{1}'> ".format(event.target.result,cls_name))
                        

                  // code here to use the dimensions
                }

            img.src = event.target.result;
      };


      console.log(image);
      reader.readAsDataURL(image);

    //setThumbnail(evt);
})


$("#id_clear").on("click", function () {

      console.log("id_input_search");

    $('#image_container').hide();
    $('#id_input').val("");


} );

$("#id_test_loading").on("click", function () {
    isattr = $("#id_test_loading").attr("test");
    console.log('id_test_loading',isattr,typeof(isattr),typeof(true));


    if(isattr == "true"){
        console.log('id_test_loading if',isattr);
        LoadingWithMask();

        $("#id_test_loading").attr("test",false);
        console.log('id_test_loading after',$("#id_test_loading").attr("test"));
    }
    else{
        console.log('id_test_loading else');
        closeLoadingWithMask();
        $("#id_test_loading").attr("test",true);
    }



} );

$("#id_toggle").on("click", function () {

    $('._etc_div').toggle();

} );


{% endblock %}

{% block content %}

<div class="word">

    <a class="btn btn-default" href="#"><span class="glyphicon glyphicon-pencil"></span></a>

    <h3>워드퍼즐 도우미</h3>

    <label for="id_input" class="form-label">총 사용 단어</label>


<h2 id="id_refwords"></h2>
<h3 id="id_search_word"></h3>

<div class="alert alert-dark" role="alert" id="id_msg">


</div>

<div class="alert alert-danger" role="alert" id="id_alert">

</div>

    <div id="image_container" width="100%">
       <img src="data:," alt="책상이미지" usemap="#photo" >
        <map name="photo">
            <area shape="rect" coords="185,45,450,400" href="#" alt="노트북이미지">
        </map>
    </div>
<div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush" id="id_select">
    <li class="list-group-item">NO ITEM</li>
<!--    <li class="list-group-item">A second item</li>-->
<!--    <li class="list-group-item">A third item</li>-->
  </ul>
</div>

</br>
    <!--    <div class="mb-3">-->
    <!--        <label for="id_search_word" class="form-label">검색단어</label>-->
    <!--        <input type="email" class="form-control" id="id_search_word" placeholder="**가*" value="*크*늬">-->
    <!--    </div>-->
    <div id="id_loading"  >
<div class="d-flex align-items-center" >
  <strong>Loading...</strong>
  <div class="spinner-border ml-auto" role="status" aria-hidden="true" ></div>
</div>
        </div>



    <div class="">
            <textarea class="form-control" id="id_input" rows="3" placeholder="예) **다**"></textarea>
    </div>
     <div class="">
            <button type="submit" class="btn btn-primary mb-3" id="id_astrik">*</button>
             <button type="submit" class="btn btn-primary mb-3" id="id_candidate">입력</button>

            <button type="submit" class="btn btn-primary mb-3" id="id_input_refword">후보단어</button>

     </div>







<br/>


     <div class=" ">

            <input type="file"  class="btn btn-primary mb-3 "name="file" id="id_input_upload" accept="image/*">



     </div>
     <button type="submit" class="btn" id="id_toggle"> >> </button>
    <div class="_etc_div">

            <button type="submit" class="btn btn-primary mb-3" id="id_clear">비우기</button>
            <button type="submit" class="btn btn-primary mb-3" id="id_clipboard">클립보드복사</button>
            <button type="submit" class="btn btn-primary mb-3" id="id_get_refword">후보단어 가져오기</button>
            <button type="submit" class="btn btn-primary mb-3" id="id_input_search">총가지수</button>
            <button type="submit" class="btn btn-primary mb-3" id="id_test_loading">테스트 로딩</button>

<!--          <div class="col-auto col ">-->
<!--        <button type="submit" class="btn btn-primary mb-3" id="id_input_refword">후보단어</button>-->
<!--        </div>-->


    </div>

</div>

{% endblock%}