{% extends 'base.html' %}
{% load static %}

{% block body %}

  <script type="text/javascript" src="{% static 'js/password.js' %}"></script>
    <div class="page-header">
        <a href="{% url 'password_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        <h1><a href="/">neo1seok's 홈피</a></h1>
                {% block title %}
                {% endblock %}

    </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
{% endblock %}