{% extends 'password.html' %}

{% block content %}
  <div class="row">
                <div class="col-md-8">


    {% for password in passwords %}

         <div class="w3-card-4 _password">

            <header class="w3-container w3-light-grey">
                <div class="date"> {{ password.updt_date }}     </div>
              <h3>{{ password.site }}</h3>
            </header>

            <div class="w3-container w3-bar">
                <div class="w3-bar">
                  <div class="w3-bar-item">{{ password.pheader|linebreaksbr }}</div>
                  <div class="w3-bar-item">{{ password.ptail|linebreaksbr }} </div>
                  <div class="w3-bar-item">(id : {{ password.site_id|linebreaksbr }})</div>
                </div>
                <hr>
                 <p> {{ password.etc|linebreaksbr }}</p>
                <hr>
                <p>     {{ password.updt_date }}</p>
            </div>

            <a class="w3-button w3-block w3-dark-grey" href="{% url 'password:password_edit' pk=password.pk %}">+ Edit</a>

          </div>
<br><br>

    {% endfor %}
        </div>
    </div>
{% endblock %}

